# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/
env/
ENV/
.venv/

# VS Code
.vscode/

# PyCharm
.idea/

# Streamlit
.streamlit/secrets.toml

# Environment Variables
.env

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/

# Build files
build/
dist/
*.egg-info/